@{
    ViewData["Title"] = "User Menu";
}

<h1>Admin Menü</h1>

<div class="mt-3">
    <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="ListUsers">Kullanıcıları Listele</a>
</div>


<div class="mt-3">
    <a class="btn" style="background-color: red; color: white;" asp-controller="Home" asp-action="Index">Çıkış Yap</a>
</div>


